/* Body style */
body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}
.text-primary ,.Download ,.Contact{
   color:  #FD6E0A;

}
/* header style */

.header{
    background: #FFF8F3;
 background-image: url("../images/header_bg.png");
 background-repeat: no-repeat;
 background-position: bottom right ;

}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px  ;
}
 .nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
 }

nav >ul {
    display: flex;
align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px ;
}
.button-primary{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 5px;
background: #FD6E0A;
padding: 15px; 
border: 0px;
}


/* banner style */
.banner{ display: flex;
    align-items: center;
    padding: 30px 30px 0px 120px;
}

.banner-cont{
    min-width: 400px;
}
.banner .pic{
    width: 584px;
}

.banner-titel{
    color: #474747;
    font-size: 25px;
font-weight: 200px;
padding-top: 5px;
}
.banner-h1{
    color: #181818;
font-size: 35px;
font-weight: 700;
padding-bottom:10px ;
}
.banner-p{
    color:#757575;
font-size: 10px;
font-weight: 400;
line-height: 30px; 
margin: 5px;
}

/* section style */
.about{
    border-radius: 10px;
background: #FFF8F3;
text-align: center;
margin:  30px 100px;
padding: 40px 20px;

}
.about-description{
 color:  #757575;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
 }
 .about-info-contener{
    display: flex;
    justify-content: space-around;
 }

 .about-info-titel{
text-align: center;
 }
 .info-p{
    color:  #474747;
font-size: 20px;
padding-right: 5px; ;

 }

.info-titel  {
    color:  #757575;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 250;
    }
/* what i do style */
    .skill-description{
        padding: 100px 220px;

    }
    
    .skill-titel{
 color:  #181818;
text-align: center;
}

.skill-descrip{
    color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
padding:10px ;
}

.skill-contener{
    display: flex;
   
}
.skill{
    border-radius: 5px;
background: #FFF;
padding: 25px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
 .titel-skill{
    padding: 15px;
}

.titel-description{
    color:  #757575;
    font-size: 12px;
    font-weight: 400;
}

/* resume style */
.resume-contaner {
  display: flex;
  padding:40px 80px ;
  gap: 60px;
}

.resume-titel{
    text-align: center;
}

.item-titel{color: #474747
    font-size: 20px;
    font-weight: 700;
    }

   .resume-item-des {color:  #757575;
        font-size: 15px;
        font-weight: 600;
       }

       .resume-item-inst  {
        color:  #757575
font-size:10px;
font-weight: 400
       }
       .down{
        text-align: center;
        margin: 40px; ;
       }


       /*footer style  */
       .footer-contener{
        display: flex;
        padding:40px 80px ;
        background: #FFF8F3;
    }

    .footer-colum{
        padding:40px ;
    }
 .you-name, .you-email{
    padding:15px ;
 }
    .sub{
        text-align:right;
    }